/*
Disclaimer: This CSS is used by a custom web component and is scoped to JUST
the corresponding web component. Importing this into other files is forbidden
*/

$default-size: 1rem;

@use "./common.scss";

div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

svg {
	width: var(--size, $default-size);
	height: var(--size, $default-size);
	fill: var(--fill);
	stroke: var(--stroke);
}