/*
Disclaimer: This CSS is used by a custom web component and is scoped to JUST
the corresponding web component. Importing this into other files is forbidden
*/

$default-border-radius: 4px;
$default-height: 1.5rem;

@use "../mixins/material";
@use "./common.scss";

div {
	display: grid;
	grid-template-columns: var(--height, $default-height) var(--width, 50px) var(--height, $default-height);
	grid-template-rows: var(--height, 1fr);
	border-radius: var(--border-radius, $default-border-radius);
	@include material.elevate(2);

	&:hover {
		@include material.elevate(4);
	}

	&:focus-within {
		@include material.elevate(6);
	}
}

span, input {
	border: none;
	outline: none;
	background: none;
	color: inherit;
}

input {
	font-family: var(--font-family, inherit);
	text-align: center;
	font-size: var(--font-size, inherit);
	padding: 2px 4px;

	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0
	}
}

.increment, .decrement {
	aspect-ratio: 1 / 1;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.increment {
	border-radius: 0 var(--border-radius, $default-border-radius) var(--border-radius, 4px) 0;
}
.decrement {
	border-radius: var(--border-radius, $default-border-radius) 0 0 var(--border-radius, $default-border-radius);
}
